<th class="fifty-table-header sortable" data-sortable="true" data-property="{{ property }}" data-current-sort-order="{{ current_sort }}" data-default-sort-order="asc">
  {{ name }}
  <span class="fifty-table-sort-indicator">
    <i class="fa fa-caret-{{ sortIcon current_sort }}"></i>
  </span>
</th>
