<th class="fifty-table-header sortable" 
  data-property="id" 
  data-select-all-enabled="true">
  <input type="checkbox">
  <span class="fifty-table-sort-indicator">
    <i class="fa fa-caret-{{ sortIcon current_sort }}"></i>
  </span>
</th>
