<div>
  <table class="table table-bordered">
    <thead>
      {{{ header_rows }}}
    </thead>
    <tbody>
      {{{ body_rows }}}
    </tbody>
    <tfoot>
      {{{ footer_rows }}}
    </tfoot>
  </table>
</div>
<div>
  {{ pagination }}
</div>